<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:fragment="group">
    <div class="list-group list-group-flush my-3" style="width: 200px;">
        <a href="/cabinet" class="list-group-item">Моя страница</a>
        <a href="/redactor" class="list-group-item list-group-item-action">Редактировать</a>
        <a href="/friends" class="list-group-item list-group-item-action">Мои друзья</a>
        <a href="/chat_list" class="list-group-item list-group-item-action">Мои чаты</a>
        <a href="/news" class="list-group-item list-group-item-action">События</a>
    </div>
</div>