.smallcolumns {
  float: left;
  font-size: 14px;
  width: 375px;
}

.container {
  width: 300px;
  display: flex;
}
.left {
  border: 1px solid;
  display: inline-block;
  overflow: hidden;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.right {
  border: 1px solid;
  display: inline-block;
  width: 100px;
  white-space: nowrap;
}