<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href='/core/main.css' rel='stylesheet'/>
    <link href='/daygrid/main.css' rel='stylesheet'/>
    <script src='/core/main.js'></script>
    <script src='/interaction/main.js'></script>
    <script src='/daygrid/main.js'></script>
    <title>GiftsWeb!</title>
    <link rel="stylesheet" type="text/css" href="/css/icons.css"/>
    <script defer type="text/javascript" th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid'],
                editable: false,
                selectable: false,
                firstDay: 1,
                locale: 'ru',
                eventLimit: true, // allow "more" link when too many events
                eventRender: function (info) {
                    let result = "";
                    let userNames = info.event.extendedProps.userNames;
                    let userPageUrls = info.event.extendedProps.userPageUrls;
                    if (userNames || userPageUrls != null) {
                        for (var i = 0; i < userNames.length; i++) {
                            let userName = userNames[i];
                            let userPageHyperlink = userName.link(userPageUrls[i]);
                            result = result + userPageHyperlink + ", ";
                        }
                    } else {
                        result = "Здесь будет информация об участниках события."
                    }
                    $(info.el).tooltip({
                        html: true,
                        title: result,
                        placement: 'bottom',
                        trigger: 'click',
                        container: 'body'
                    });
                },
                events: [[${eventsData}]]
            });
            calendar.render();
        });


    </script>
    <style>
        #calendar {
            max-width: 600px;
            margin: 0 auto;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
            background-color: #FFFFFF;
            border-radius: 6px;
            box-shadow: 0 3px 6px #C3C3C3;
            position: absolute;
            right: 150px;
            top: 150px;
            padding: 0;
            color: black;
        }


    </style>
</head>
<body>
<div th:insert="fragments/navbar :: header"></div>
<div th:insert="fragments/listgroup :: group" style="display : inline-block; vertical-align: top;"></div>
<div style="display : inline-block; vertical-align: top;">
    <div class="font-weight-bold h4 m-3">
        <span th:text="${info.firstName}"></span>
        <span th:text="${info.lastName}"></span>
    </div>

    <div class="font-italic m-3">Ваш друг интересуется:</div>
    <span class="m-3" th:if="${interests.isEmpty()}">Кажется у вашего друга нет инетресов</span>
    <div class="card-deck m-3">
        <div th:each="i : ${interests}">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-body text-info">
                    <h5 class="card-title"><span th:text="${i.interestName}"></span></h5>
                </div>
            </div>
        </div>
    </div>


    <div class="font-italic m-3">Желания:</div>
    <div class="font-italic m-3">Вы можете сами создать желания для вашего друга</div>
    <div class="m-3">
        <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#collapseExample" role="button"
           aria-expanded="false"
           aria-controls="collapseExample">+</a>
        <div class="collapse" id="collapseExample">
            <div class="form-group my-3">
                <form th:action="@{/new_wish_from_friend}" method="post" class="form-inline">
                    <div>
                        <p>Название желания</p>
                        <input type="text" class="form-control" name="text" placeholder="Название"/>
                        <input type="text" class="form-control" name="imgURL" placeholder="Ссылка на изображение"/>
                        <input type="hidden" name="name" th:value="${name}"/>
                        <button type="submit" class="btn btn-primary mx-3">Добавить</button>
                        <p>Событие к которому желание относится(не обязательно)</p>
                        <p><select name="eventsId">
                            <option></option>
                            <option th:each="event : ${friendsActualEvents}" th:value="${event.id}">[[${event.title}]]
                            </option>
                        </select></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="font-italic m-3">Желания созданные пользователем:
        <div th:each="uw : ${userWishes}">
            <div class="card-deck">
                <div class="card border-info mb-3" style="max-width: 18rem;">
                    <div th::if="${uw.getImgURL()}">
                        <img class="card-img-top"
                             th:attr="src=${uw.getImgURL()},title=${uw.getImgURL()},alt=${uw.getImgURL()}">
                    </div>
                    <div class="card-body text-info">
                        <h5 class="card-title">
                            <p>Желание: [[${uw.wishName}]]</p>
                            <p th:if="${uw.eventForWish}">Событие: [[${uw.eventForWish.title}]]</p>
                        </h5>
                        <div th:if="${uw.isClosed()}">
                            <div class="card-text">
                                <p>Собрано!</p>
                            </div>
                        </div>
                        <div th:if="!${uw.isClosed()}">
                            <div class="card-text">
                                <a class="people-icon" href="#"><span
                                        th:text="${uw.getNumberOfChatParticipants()}"></span></a>
                                <p></p>
                                <a class="dollar-icon" href="#"><span th:text="${uw.getCurrentSum()}"></span>
                                    / <span th:text="${uw.getPrice()}"></span></a>
                            </div>
                            <form th:action="@{/join_chat/{id}(id=${uw.id})}" method="post">
                                <button type="submit" class="btn btn-primary m-3">Присоеденится</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="font-italic m-3">Желания созданные друзьями:
        <div th:each="fw : ${friendWishes}">
            <div class="card-deck">
                <div class="card border-info mb-3" style="max-width: 18rem;">
                    <div th::if="${fw.getImgURL()}">
                        <img class="card-img-top"
                             th:attr="src=${fw.getImgURL()},title=${fw.getImgURL()},alt=${fw.getImgURL()}">
                    </div>
                    <div class="card-body text-info">
                        <h5 class="card-title">
                            <p>Желание: [[${fw.wishName}]]</p>
                            <p th:if="${fw.eventForWish}">Событие: [[${fw.eventForWish.title}]]</p>
                        </h5>
                        <div class="card-text">
                            <a class="people-icon" href="#"><span th:text="${fw.getNumberOfChatParticipants()}"></span></a>
                            <p></p>
                            <a class="dollar-icon" href="#"><span th:text="${fw.getCurrentSum()}"></span>
                                / <span th:text="${fw.getPrice()}"></span></a>
                        </div>
                        <form th:action="@{/join_chat/{id}(id=${fw.id})}" method="post">
                            <button type="submit" class="btn btn-primary m-3">Присоедениться</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='calendar'></div>
<div th:insert="fragments/settings :: settings"></div>
</body>
</html>
