<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href='core/main.css' rel='stylesheet' />
    <link href='daygrid/main.css' rel='stylesheet' />
    <script src='core/main.js'></script>
    <script src='interaction/main.js'></script>
    <script src='daygrid/main.js'></script>
    <title>GiftsWeb!</title>
    <style>
        .people-icon {
            background:url(https://image.flaticon.com/icons/svg/33/33308.svg) no-repeat left center;
            background-size: 16px;
            display:inline-block;
            vertical-align:bottom;
            padding-left: 25px;
        }

        .dollar-icon {
            background:url(https://image.flaticon.com/icons/svg/1/1349.svg) no-repeat left center;
            background-size: 16px;
            display:inline-block;
            vertical-align:bottom;
            padding-left: 25px;
        }
    </style>
    <script defer type="text/javascript" th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid'],
                editable: false,
                selectable: false,
                firstDay: 1,
                locale: 'ru',
                eventLimit: true, // allow "more" link when too many events
                header: {
                    center: 'title',
                    right: 'prev,next today'
                },
                eventRender: function(info) {
                    let result = "";
                    let userNames = info.event.extendedProps.userNames;
                    let userPageUrls = info.event.extendedProps.userPageUrls;
                    if (userNames || userPageUrls != null){
                        for (var i = 0; i < userNames.length; i++) {
                            let userName = userNames[i];
                            let userPageHyperlink = userName.link(userPageUrls[i]);
                            result = result + userPageHyperlink + ", ";
                        }
                    } else {
                        result = "Здесь будет информация об участниках события."
                    }
                    $(info.el).tooltip({
                        html: true,
                        title: result,
                        placement: 'bottom',
                        trigger: 'click',
                        container: 'body'
                    });
                },
                events: [[${eventsData}]]
            });
            calendar.render();
        });

    </script>
    <style>
        #calendar {
            max-width: 600px;
            margin: 0 auto;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
            background-color: #FFFFFF;
            border-radius: 6px;
            box-shadow: 0 3px 6px #C3C3C3;
            position: absolute;
            right: 150px;
            top: 150px;
            padding: 0;
            color: black;
        }

    </style>
</head>
<body>
<div th:insert="fragments/navbar :: header"></div>
<div th:insert="fragments/listgroup :: group" style="display : inline-block; vertical-align: top;"></div>
<div style="display : inline-block; vertical-align: top;">
    <div class="font-weight-bold h4 m-3">
        <span th:text="${info.firstName}"></span>
        <span th:text="${info.lastName}"></span>
    </div>

    <div class="font-italic m-3">Ваш друг интересуется:</div>
    <div class="card-deck m-3">
        <div th:each="i : ${interests}">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-body text-info">
                    <h5 class="card-title"><span th:text="${i.interestName}"></span></h5>
                </div>
            </div>
        </div>
    </div>

    <div class="font-italic m-3">Желания</div>
<!--    <div th:if="${friendWishes.empty} && ${userWishes.empty}">No wish yet</div>-->

    <div class="font-italic m-3">Вы можете сами создать желания длz вашего друга</div>
    <div class="m-3">
        <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#collapseExample" role="button"
           aria-expanded="false"
           aria-controls="collapseExample">+</a>
        <div class="collapse" id="collapseExample">
            <div class="form-group my-3">
                <form th:action="@{/new_wish_from_friend}" method="post" class="form-inline">
                    <div>
                        <input type="text" class="form-control" name="text" placeholder="Название"/>
                        <input type="hidden" name = "name" th:value="${name}">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary mx-3">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="font-italic m-3">Желания созданные пользователем</div>
    <div th:each="uw : ${userWishes}">
        <div class="card-deck">
            <div class="card border-info mb-3" style="max-width: 18rem;">
                <div class="card-body text-info">
                    <h5 class="card-title"><span th:text="${uw.wishName}"></span></h5>
                    <div class="card-text">
                        <a class="people-icon" href="#"><span th:text="${uw.getNumberOfChatParticipants()}"></span></a>
                        <p></p>
                        <a class="dollar-icon" href="#"><span th:text="${uw.getCurrentSum()}"></span>
                            / <span th:text="${uw.getPrice()}"></span></a>
                    </div>
                    <form th:action="@{/join_chat/{id}(id=${uw.id})}" method="post">
                        <button type="submit" class="btn btn-primary m-3">+</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="font-italic m-3">Желания созданные друзьями</div>
    <div th:each="fw : ${friendWishes}">
        <div class="card-deck">
            <div class="card border-info mb-3" style="max-width: 18rem;">
                <div class="card-body text-info">
                    <h5 class="card-title"><span th:text="${fw.wishName}"></span></h5>
                    <div class="card-text">
                        <a class="people-icon" href="#"><span th:text="${fw.getNumberOfChatParticipants()}"></span></a>
                        <p></p>
                        <a class="dollar-icon" href="#"><span th:text="${fw.getCurrentSum()}"></span>
                            / <span th:text="${fw.getPrice()}"></span></a>
                    </div>
                    <form th:action="@{/join_chat/{id}(id=${fw.id})}" method="post">
                        <button type="submit" class="btn btn-primary m-3">+</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='calendar'></div>
<div th:insert="fragments/settings :: settings"></div>
</body>
</html>