<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>

<div th:if="${param.logout}">
    You have been logged out.
</div>
Вход
<form th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
<p>Если вы ещё не зарегестрированы, <a th:href="@{/registration}">нажмите сюда</a> </p>
<p>А еще можно войти по гугл аккаунтом (но это не точно)  <a th:href="@{https://oauth.vk.com/authorize?client_id=7176812&display=page&redirect_uri=http://localhost:8080/lol&scope=friends&response_type=token&v=5.52}">нажмите сюда</a> </p>
</body>
</html>
