<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>GiftsWeb</title>
</head>
<body>
<h1 >Редактировать личный кабнет</h1>
<form method="post">
    <div><label> Имя: <input type="text" name="name"/> </label></div>
    <p></p>
    <div><label> Старый пароль: <input type="password" name="oldPassword"/> </label></div>
    <div><label> Новый пароль: <input type="password" name="newPassword"/> </label></div>
    <p></p>
    <select>
        <option>Пока пусто</option>
    </select>
    <label>Отображение списка текущих интересов и возможность удалять</label>
    <div><input type="submit" value="Save"/></div>
</form>
</body>
</html>
